<div id="algoButtonSpace" class="buttonGroup"></div>
<div id="algoParamsButtonSpace" class="buttonGroup"></div>

<svg id="svg1" class="svg-content-responsive" style="margin: 0 auto; display: block;"></svg>

<div id="documentationFunction" align="center"></div>
<div id="documentationAlgo" align="center"></div>
<script src="{{ site.url }}/assets/js/gradient_descent.js"></script>
<script src="{{ site.url }}/assets/js/config.js"></script>
<script src="{{ site.url }}/assets/js/ParameterInput.js"></script>
<script src="{{ site.url }}/assets/js/documentationDisplay.js"></script>
<script src="{{ site.url }}/assets/js/ApplicationManager.js"></script>
<script src="{{ site.url }}/assets/js/contour_plot.js"></script>
<script>
  const initialObjective = paramsConfig[paramNames.objectiveFunction].values[plotTypes.contour_plot].get_init_value().name;
  const xDomain = paramsConfig[paramNames.xDomain].values[plotTypes.contour_plot].get_init_value(null, initialObjective);
  const yDomain = paramsConfig[paramNames.yDomain].values[plotTypes.contour_plot].get_init_value(null, initialObjective);
  let contourPlot = new ContourPlot(
    d3.select('#svg1'),
    xDomain,
    yDomain,
    600,
    600,
  );
  new ApplicationManager(contourPlot);
</script>
