<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="./graph.css" />
  <link rel="stylesheet" type="text/css" href="./buttons.css" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="http://mlweb.loria.fr/lalolib.js"></script>
  <style>
    pre .latex { border:10px solid red;}
  </style>
</head>
<body>
  <div id="algoButtonSpace" class="buttonGroup"></div>
  <div id="algoParamsButtonSpace" class="buttonGroup">
    <label for="xini">Initial point:</label>
    <input type="number" id="xini" value=1.5 step=0.1>
    <label for="step">Descent step:</label>
    <input type="number" id="step" value=0.8 step=0.1>
  </div>
  <svg id="svg1" class="svg-content-responsive" style="margin: 0 auto; display: block;"></svg>
  <div id="documentation" align="center"></div>

  <script src="gradient_descent.js"></script>
  <script src="config.js"></script>
  <script src="ParameterInput.js"></script>
  <script src="documentationDisplay.js"></script>
  <script src="ApplicationManager.js"></script>
  <script src="graph_plot.js"></script>
  <script>
    const xDomain = paramsConfig[paramNames.xDomain].values[plotTypes.plot_1D].get_init_value(
      null,
      paramsConfig[paramNames.objectiveFunction].values[plotTypes.plot_1D].get_init_value().name
    );
    let graphPlot = new GraphPlot(d3.select('#svg1'), xDomain, 600, 600);
    new ApplicationManager(graphPlot);
  </script>
</body>
</html>
